@font-face {
   font-family: 'OpenSans-VariableFont_wdth,wght';
   font-display: swap;
   src: url('file:///C:/Users/Tortugafamily/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-03-10_124543/fonts/OpenSans-VariableFont_wdth,wght/font.ttf');
}
